{% extends 'common/base.html' %}

{% block extra_style %}
.message-bubble {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--submain);
}
.timestamp {
    font-size: small;
    margin-right: 5px;
}
{% endblock %}

{% block content %}

<div id="chat-log" style="height: 300px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
    {% for message in messages %}
    <div class="message-bubble">
        <small class="timestamp">{{ message.created_at|date:"H:i" }}</small>
        <strong>{{ message.username.username }}:</strong> {{ message.message }}
    </div>
    {% endfor %}
</div><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ room_name|json_script:"room-name" }}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
    const chatSocket = new WebSocket(
        ws_scheme
        + '://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const messageElement = document.createElement('div');
        messageElement.classList.add('message-bubble');
        messageElement.innerHTML = `<small class="timestamp">${data.created_at}</small><strong>${data.username}:</strong> ${data.message}`;
        document.querySelector('#chat-log').appendChild(messageElement);
        document.querySelector('#chat-log').scrollTop = document.querySelector('#chat-log').scrollHeight;
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message, 
            'username' : "{{request.user.username}}"
        }));
        messageInputDom.value = '';
    };
</script>

<style>

</style>

{% endblock content %}
