{% extends 'common/base.html' %}

{% block extra_style_sheets %}
<script src="https://cesium.com/downloads/cesiumjs/releases/1.116/Build/Cesium/Cesium.js"></script>
<link href="https://cesium.com/downloads/cesiumjs/releases/1.116/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
{% endblock %}
{% block extra_style %}
    #cesiumContainer {
        width:1000px;
        height:600px
    }
{% endblock %}

{% block content %}
<div id="cesiumContainer"></div>
<script type="module">

    // Initialize the Cesium Viewer in the HTML element with the `cesiumContainer` ID.
    const viewer = new Cesium.Viewer('cesiumContainer');    

    // Specify the URL of your CZML document
    const czmlUrl = '{% url "pickup_visualize_czml" pickup.id %}';

    // Load the CZML document into the viewer
    viewer.dataSources.add(Cesium.CzmlDataSource.load(czmlUrl));
    
</script>
{% endblock %}

