{% extends 'common/base.html' %}

{% block content %}
    <p>Datetime: {{ object.datetime }}</p>
    <p>Box: {{ object.box }}</p>
    <p>Location (ft): {{ object.location.x }} {{ object.location.y }}</p>
    <p>Altitude (ft): {{ object.altitude_ft }}</p>
    <p>Country: {{object.country.name}}</p>
    <p>Attribute Hash: {{object.saved_simulated_attribute_hash}}</p>
    <p>Order: {{ object.order }}</p>
    <a href="{% url 'pickup_update' object.pk %}">Edit</a>
    <a href="{% url 'pickup_delete' object.pk %}">Delete</a>
{% endblock %}

