{% extends 'common/base.html' %}

{% block extra_style %}

  .flex-grid {
    display: flex;
  }
  .flex-grid .col {
    flex: 1;
  }
  .flex-grid-thirds {
    display: flex;
    justify-content: space-between;
  }
  .flex-grid-thirds .col {
    width: 32%;
  }
  
  @media (max-width: 400px) {
    .flex-grid,
    .flex-grid-thirds {
      display: block;
      .col {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }
  
  * {
    box-sizing: border-box;
  }

  .flex-grid { 
    margin: 0 0 20px 0;
  }
  .col {
    padding: 20px;
  }
  


{% endblock %}

{% block content %}

<h1>{{ order.name }}</h1>

<div class="flex-grid">
    <div class="col">
        <h2>Pickups</h2>
        <a href="{% url 'pickup_create_with_order_id' order.id %}">Add New Pickup</a>
        <table>
          <tr>
              <th>ID</th>
              <th>Pickup</th>
              <th>Visualize</th>
          </tr>
          {% for pickup in order.pickups.all %}
              <tr>
                <td hx-get="{% url 'order_dashboard_delivery_partial' pickup.id %}" hx-target="#dashboard-deliveries" hx-trigger="click">{{ pickup.id }}</td>
                <td><a href="{% url 'pickup_detail' pickup.id %}">{{ pickup }}</a></td>
                <td><a href="{% url 'pickup_visualize' pickup.id %}">visualize</a></td>
              </tr>
          {% endfor %}
        </table>
    </div>
    <div id="dashboard-deliveries" class="col">
        <h2>Deliveries</h2>
        Click a Pickup ID to look at its deliveries.
    </div>
</div>


{% endblock %}