{% extends 'common/base.html' %}
{% load static %}

{% block extra_style %}
    body, html {
        height: 100%;
        margin: 0;
    }

    /* Center the image container */
    .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    /* Set the image size to take up most of the page, while maintaining its aspect ratio */
    img {
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;
    }

    .links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links a {
        text-decoration: none;
        margin: 5px;
        font-size: 1.2em;
    }

    .app-title {
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 20px;
    }
    

{% endblock %}

{% block content %}
<div class="image-container">
    <div class="app-title">CENTURION</div>
    <img src="/static/logo_nobg_medium.png" alt="Centurion Logo">
    <div class="links">
        <a href="{% url 'project_management_doc' %}">Telework Plan</a>
        <a href="{% url 'project_list' %}">Project Management</a>
        <a href="{% url 'deployment_doc' %}">Deployment Instructions</a>
        <a href="{% url 'best_practices_and_standards_doc' %}">Centurion Best Practices and Standards</a>
        <a href="/references/django-docs-5.0-en/intro/overview.html">Django Docs</a>
    </div>
</div>
{% endblock %}