{% extends 'common/base.html' %}

{% block extra_style_sheets %}
<script src="https://cesium.com/downloads/cesiumjs/releases/1.116/Build/Cesium/Cesium.js"></script>
<link href="https://cesium.com/downloads/cesiumjs/releases/1.116/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
{% endblock %}
{% block extra_style %}
    #cesiumContainer {
        width:1000px;
        height:600px
    }
{% endblock %}

{% block content %}
<h2>Order {{ order.id }}</h2>
<h3>Order Links</h3>
<ul>
    <li><a href="{% url "scenario_dashboard" order.scenario.id%}">Scenario Dashboard</a></li>
    <li><a href="{% url "order_dashboard" order.id%}">Order Dashboard</a></li>
    <li><a href="{% url "order_update" order.id%}">Edit Order</a></li>
</ul>
<div id="cesiumContainer"></div>
<script type="module">

    // Initialize the Cesium Viewer in the HTML element with the `cesiumContainer` ID.
    const viewer = new Cesium.Viewer('cesiumContainer');    

    // Specify the URL of your CZML document
    const czmlUrl = '{% url "order_visualize_czml" order.id %}';

    // Load the CZML document into the viewer
    viewer.dataSources.add(Cesium.CzmlDataSource.load(czmlUrl));
    
</script>
{% endblock %}

